body{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgb(44, 44, 44);
    height: 100px;
}

.div1{
    float: left;
    margin-left: 140px;
    margin-top: 30px;
}

.div2{
    float: right;
    margin-right: 150px;
    margin-top: 40px;
}

.clear{
    clear: both;
}

.a1{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.a{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
}